@{
    ViewData["Title"] = "Admin Home";
}

<h2>ADMIN HOME PAGE</h2>

<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#" >Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" >Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" >Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>